# Comments & Basic Data Types

In [39]:
"""multiline comments"""
print ("nani?")
# single comment

nani?

In [1]:
# the following are all integers
print(2)
print(10)

2
10

In [2]:
# the following are all floats
print(10.953)
print(8.0) # even this number is a floa

10.953
8.0

In [3]:
# the following are booleans
print(True)
print(False)

True
False

In [4]:
# the following are strings
print("")
print("There's a snake in my boot!")
print('True')

There's a snake in my boot!
True

#### Monday Exercises

In [5]:
print("Saurav!!")

Saurav!!

In [16]:
type(True)

bool

# Variables

#### Integer and float variables:

In [13]:
num1 = 5 # storing an integer into a variable
num2 = 8.4 # storing a float into a variable
print(num1, num2) #you can print multiple items using commas

5 8.4

#### Boolean Variables

In [14]:
#storing a boolean into a variable
switch =True
print(switch)

True

#### String Variables:

In [26]:
#storing strings into a variable:
name = 'John Smith'
fav_number = '9'
print (name, fav_number) # will print 9 next to the name

#Remember that the string '9' is not the same as the integer 9.
#These two data types act differently, even though the output looks similar

John Smith 9

#### Using Multiple Variables

In [28]:
#using 2 variables to create another variable
result=num1+num2
print(result)

#The value of num1 and num2 is being fetched from integer and float variables section

13.4

#### Using Operators on Numerical Variables

In [29]:
#adding, deleting, multiplying, dividing from a variable
result +=1  # same as saying result = result + 1
print (result)
result *= num1  # same as saying result = result * num1
print(result)

14.4
72.0

#### Overwriting Previously Created Variables

In [31]:
# defining a variable and overwriting its value
name= 'john'
print(name)
name = 'sam'
print(name)

john
sam

#### Whitespace

In [33]:
name = 'John Smith'
print (name)

John Smith

#### Tuesday Exercises

#### 1. Variable Output: store the value 3 in a variable called “x” and the value 10 in a variable called “y”. save the result of x * y into a separate variable called “result”. Finally, output the information so it shows like the following: >>> 3 + 10 = 13

In [177]:
x=3
y=10
result = x*y
print(x,'*',y,'=', result)

3 * 10 = 30

#### 2. Area Calculation: Calculate the area of a 245.54” x 13.66” rectangle. print out the result. HINT: Area is width multiplied by height.

In [38]:
width=245.54
height=13.66
area= width*height
print(area)

3354.0764

# Working with Strings

### String Concatenation

In [43]:
#using the addition operation without variables
name = "John" + " " +"Smith"
print(name)

John Smith

In [44]:
#using the addition operation with variables
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

John Smith

### Formatting Strings

#### .format()

In [45]:
#injecting variables using the format method
name = "John"
print ("Hello {}".format(name))
print ("Hello {}, you are {} years old!".format(name, 28))

Hello John
Hello John, you are 28 years old!

#### f Strings (New in Python 3.6)

In [47]:
# using the new f strings
name = "John"
print (f"Hello {name}")

Hello John

In [50]:
# one major difference between versions 2 &3
name = "John"
print ('Hello, %s' %name)

Hello, John

In [51]:
# python 2 multiple variable formatting
first_name = "John"
last_name = "Smith"
print ("Hello, %s %s" % (first_name, last_name))
# surround the variables in parenthesis

Hello, John Smith

In [53]:
name = "john"
age=28
print(f"Hello {name}, you are {age} years old")

Hello john, you are 28 years old

### String Index

In [59]:
#using indexes to print each element
word="Hello"
print(word[0])
print(word[-1])
print(word[-5])

H
o
H

### String Slicing

In [60]:
print (word [0:2])

He

In [67]:
print (word [0:5:2])

Hlo

### WEDNESDAY EXERCISES

##### 1. Variable Injection: Create a print statement that injects an integer, float, boolean, and string all into one line. The output should look like
###### “23 4.5 False John”

In [82]:
age=23
exp=4.5
Married=False
Name='John'
print("{} {} {} {}".format(age,exp,Married,Name))

23 4.5 False John

##### 2. Fill in the Blanks: Using the format method, fill in the following blanks by assigning your name and favorite activities into variables:
##### "{ }'s favorite sports is { }."
##### "{ } is working on { } programming!"

In [84]:
Name='Ram'
Sport='Cricket'
Name2='Saurav'
Lang='Python'
print("{}'s favorite sports is {}".format(Name,Sport))
print("{} is working on {} programming!".format(Name2,Lang))

Ram's favorite sports is Cricket
Saurav is working on Python programming!

# String Manipulation

### .title( )

In [94]:
# using the title method to capitalize a string
name = "John Smith"
print(name.title())
print(name.upper())
print(name.lower())

John Smith
JOHN SMITH
john smith

### .replace()

In [110]:
#replacing an ecxlamation point with a period
words = "Hello there!"
print (words.replace( "!", "."))
print(words) # It replaces '!' with an '.' but does not save it in words
words = words.replace('!', '.')
print(words)

Hello there.
Hello there!
Hello there.

### .find()

In [111]:
#finding the starting index of our searched term
s="Look over that way"
print(s.find("over"))

5

### .strip()

In [128]:
# removing whitespace with strip
name="   john   "
print( name.strip( ) )
print(name.strip('hn'))
print(name.strip('hn  ')) #it has to be identical, if 'hn' has space after it, we'll also have to include space
print( name.lstrip( ) )
print( name.rstrip( ) )

john
   john
jo
john
   john

### .split()

In [132]:
# converting a string into a list of words
s="These words are seperated by spaces "
print(s.split(" "))

['These', 'words', 'are', 'seperated', 'by', 'spaces', '']

## Thursday Exercises

#### 1. Uppercasing: 
Try manipulating the string “uppercase” so it prints out as all uppercase letters. you’ll need to look up a new method.

In [134]:
name='uppercase'
print(name.upper())

UPPERCASE

#### 2. Strip Symbols: 
strip all the dollar signs from the left side of this string “$$John smith”. Try it with .lstrip( ) and .strip( ). To see a description on how to use the strip method further, try using the help function in python by typing the
following:
>help(" ".strip)

In [174]:
name='$$John smith'
print(name.strip('$'))
print(name.lstrip('$'))

John smith
John smith

### Friday Project: Printing Receipts.

In [172]:
# create a product and price for 3 items
p1_name,p1_price="Books",49.95
p2_name,p2_price="Computer",579.99
p3_name,p3_price="Monitor",124.89

# create a company name and information
company_name='coding temple,inc.'
company_address='283 Franklin St.'
company_city='Boston,MA'

# declare ending message
message='Thanks for shopping with us today!'

# create a top border
print('*'*50)

# print company information first, using format
print('\t\t{}'.format( company_name.title()))
print('\t\t{}'.format(company_address))
print('\t\t{}'.format(company_city))

#print a line between sections
print('='*50)

# print out header for section of items
print("\tProduct Name \t Product Price")

# create a print statement for each product
print("\t{}\t\t${}".format(p1_name.title(),p1_price))
print("\t{}\t${}".format(p2_name.title(),p2_price))
print("\t{}\t\t${}".format(p3_name.title(),p3_price))

# print a line between sections
print('='*50)

# print out header for section of total
print("\t\t\tTotal")

# calculate total price and print out
total=p1_price+p2_price+p3_price
print("\t\t\t${}".format(total))

# print a line between sections
print('='*50)

# output thank you message
print("\n\t{}\n".format(message))

# create a bottom border
print('*'*50)

**************************************************
		Coding Temple,Inc.
		283 Franklin St.
		Boston,MA
==================================================
	Product Name 	 Product Price
	Books		$49.95
	Computer	$579.99
	Monitor		$124.89
==================================================
			Total
			$754.83
==================================================

	Thanks for shopping with us today!

**************************************************

### Weekly Challenges

##### 1. Side Borders: 
In the Friday project, we ended up creating borders above and below the information printed out. Try adding a star border on the sides as well now.

##### 2. Researching Methods: 
We’ve gone over a few of the string manipulation methods that are widely used; however, there are many more; try looking up some and implementing them.

##### 3. Reverse: 
Declare a variable equal to “Hello”. Reverse the string using slicing. Try looking it up if you struggle.

In [3]:
word='Hello'
print(word[::-1])

olleH